@import 'mixins';

.wrapper {
  @include flexBox();
  width: 700px;
  padding-right: 14px;
  margin: 0 auto;
}

.todo {
  margin: 20px auto;
  padding: 4px;
  width: 600px;
  box-shadow: 0 1px 4px #000;
  border-radius: 2px;
}
