* {
  margin: 0;
  padding: 0;
  outline: none;
}

h2 {
  margin: 10px 0;
  font-style: italic;
  color: grey;
}

.content {
  margin: 0 auto;
  width: 700px;
  text-align: center;
}

.createTodo {
  box-shadow: 0 1px 4px #000;
  border-radius: 2px;
}

.filter {
  margin: 20px 0;
  text-align: left;
}
