@import 'mixins';

.mainBlock {
  @include flexBox(space-between);
}

.left {
  width: 52%;
  text-align: left;
}

.right {
  width: 48%;
  text-align: right;
}

.controls {
  position: relative;
  text-align: right;

  button { margin-left: 10px; }
}

.error {
  position: absolute;
  left: 0;
  color: red;
}
